* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid #000000; */
    font-family: "Poppins", sans-serif;;
}


/* header styling */


header nav .logo-container {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav .logo-container img{
    width: 40%;
}

header nav .nav-links {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links ul {
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.nav-links ul li {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

.nav-links ul li a:active{
    text-decoration: none;
    color: #FA4A0C;
}

.nav-links ul li a:hover{
    text-decoration: none;
    color: #FA4A0C;
    font-size: 18px;
}

/* header styling ends */

/* body styling  */

/* container one styling  */

/* main .container-one {
    min-height: 160vh;
    width: 100%;
    background-image: url('../Images/bg-img1.png');
    background-repeat: no-repeat;
    padding-top: 30px;
}

.container-one .inner-container-one{
    width: 70%;
    height: 170vh;
    margin: auto;
    text-align: center;
}

.container-one .inner-container-one .food-div { 
    width: 70%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.food-div p{
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.container-one .inner-container-one .text-hungry { 
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.text-hungry p{
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.container-one .inner-container-one .text-download { 
    width: 70%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.text-download p{
    color: white;
    font-size: 20px;
}

.container-one .inner-container-one .btn-download { 
    width: 50%;
    height: 20vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;   
} */


/* .btn-download .btn-playstore{
    border-radius: 30px;
    font-size: 30px;
    height: 60px;
    width: 40%;
    background-color: #FA4A0C;
    color: #ffff;
    border: none;
}

.btn-download .btn-appstore{
    border-radius: 30px;
    font-size: 20px;
    height: 60px;
    width: 40%;
    background-color: transparent;
    border: 1px solid white;
    color: #ffff;
}

.container-one .inner-container-one .phone-container  { 
    width: 50%;
    height: 60vh;
    margin: auto;
    margin-left: 140px;
    display: flex;
    align-items: center;
    padding-top: 60px;
} */

/* .phone-container img{
    width: 120%;
}

.line {
    margin: auto;
    width: 50%;
    height: 0.3vh;
    background-color: #d7cccc;
    border-radius: 30px;
    box-shadow: 1px 1px 2px 3px rgba(122, 120, 120, 0.4);
} */
/* container one styling ends */
